<div class="container about-us-section text-center">
  <div class="row">
    <div class="col-md-4">
      <img src="./images/a1.jpeg" alt="Our Team" class="img-fluid rounded-circle mb-4">
      <h3 class="icon-title"><i class="fas fa-users"></i> Our Team</h3>
      <p>We are a group of passionate individuals committed to delivering the best shopping experience.</p>
    </div>
    <div class="col-md-4">
      <img src="./images/a2.jpg" alt="Our Mission" class="img-fluid rounded-circle mb-4">
      <h3 class="icon-title"><i class="fas fa-bullseye"></i> Our Mission</h3>
      <p>Our mission is to provide high-quality products with exceptional customer service.</p>
    </div>
    <div class="col-md-4">
      <img src="./images/a3.png" alt="Our Values" class="img-fluid rounded-circle mb-4">
      <h3 class="icon-title"><i class="fas fa-heart"></i> Our Values</h3>
      <p>We value integrity, excellence, and innovation in everything we do.</p>
    </div>
  </div>
</div>
