
.custom-navbar {
  background: linear-gradient( #03109e, #2575fc);
  box-shadow: 0 4px 15px rgb(9, 58, 130);
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
}

.custom-navbar .navbar-brand {
  font-size: 1.5rem;
  color: #ffffff;
}

.custom-navbar .navbar-brand img {
  margin-right: 10px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.custom-navbar .navbar-brand:hover img {
  transform: rotate(360deg);
}

.custom-navbar .navbar-nav {
  display: flex;
  align-items: center;
}

.custom-navbar .navbar-nav.ml-auto {
  margin-left: auto;
}

.custom-navbar .navbar-nav .nav-link {
  font-size: 1.2rem;
  color: #ffffff;
  margin: 0 0.5rem;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease-in-out;
}

.custom-navbar .navbar-nav .nav-link:hover {
  color: #ffd700;
}

.custom-navbar .navbar-nav .nav-link i {
  margin-right: 8px;
  font-size: 1.2em;
  transition: transform 0.3s ease-in-out;
}

.custom-navbar .navbar-nav .nav-link:hover i {
  transform: scale(1.2);
}
